.body {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: verdana;
}

.header {
    background-color: #303040;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lnav {
    width: 50%;
}

div.lnav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    padding: 10px;
}

div.lnav li a:hover {
    color: green;
}

ul.lnav_elements {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    height: 30px;
}

.lnav {
    display: flex;
    align-items: flex-end;
}

#home {
    height: 25px;
    width;
    25px;
}

.rnav {
    width: 50%;
}

div.rnav li a {
    text-decoration: none;
    color: rgb(159, 159, 159);
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px 0px 10px;
    display: flex;
}

div.rnav li a:hover {
    color: #ffffff;
}

ul.rnav_elements {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    height: 35px;
}

.rnav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#hire {
    color: #ffffff;
    font-weight: bold;
    font-size: 8px;
    background-color: red;
    border: none;
    border-radius: 1px;
    height: 15px;
    padding: 1px 4px;
}

#bell {
    height: 20px;
    width: 20px;
}

#div_loc {
    display: flex;
}

#loc {
    height: 20px;
    width: 20px;
}

.brand_header {
    background-color: #303040;
    height: 70px;
    width: 100%;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
}

#logo {
    height: 50 px;
    width: 180px;
    padding-left: 20px;
    padding-top: 10px;
}

.rbrand_header {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

#t20 {
    height: 40px;
    width: 40px;
    padding: 20px;
}

#lang {
    height: 20px;
    width: 80px;
    border-radius: 2px;
    border: none;
}

.img_panel {
    width: 100%;
    height: 500px;
    position: relative;
}

#front_banner1 {
    width: 100%;
    height: 100%;
}

.outerMiddleDiv {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 70px;
}

.book_tickets {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.line1 {
    display: flex;
}

.all {
    position: relative;
    display: inline-block;
}

#vis_drop {
    display: block;
    color: #ffffff;
    background-color: rgb(190, 15, 23);
    border: none;
    font-size: 11px;
    font-weight: bold;
    padding: 15px 10px 10px 10px;
    width: 150px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.all_dropdown {
    position: absolute;
    display: none;
}

.all_dropdown a {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(190, 15, 23);
    font-size: 11px;
    font-weight: bold;
    padding: 15px 10px 10px 10px;
    width: 150px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}

.all:hover .all_dropdown {
    display: block;
}

.all_dropdown a:hover {
    color: rgb(190, 15, 23);
    background-color: #ffffff;
}

.all_r {
    font-size: 11px;
    font-weight: bold;
    color: #080808;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 50px;
    padding: 15px 10px 15px 10px;
    flex: 3;
}

.all_r input {
    border: none;
    outline: none;
    width: 80%;
    color: #080808;
    font-weight: bold;
}

.all_r ::-webkit-input-placeholder {
    color: #090909;
    font-weight: bold;
}

.line2 {
    background: transparent;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    color: white;
}

#icon_drop {
    height: 10px;
    width: 10px;
    float: right;
}

#icon_all {
    height: 20px;
    width: 20px;
    float: left;
}

#icon_mov {
    height: 20px;
    width: 20px;
    float: left;
}

#icon_ev {
    height: 20px;
    width: 20px;
    float: left;
}

#icon_ply {
    height: 18px;
    width: 20px;
    float: left;
}

#icon_sp {
    height: 20px;
    width: 20px;
    float: left;
}

#icon_detail {
    height: 20px;
    width: 20px;
    float: right;
    align: top;
}

.src_bar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #dddddd;
}

.pop_text {
    width: 20%;
    padding: 5px 20px;
    font-size: 12px;
}

.populars {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-right: 20px;
    padding-top: 5px;
    border-right: 2px black;
}

.populars button {
    height: 25px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-color: #ffffff;
    font-size: 11px;
    color: blue;
    padding: 1px 20px 1px 20px;
}

.featured {
    height: 120px;
    width: 100%;
    display: flex;
    font-size: 17px;
}

.fe_ev {
    margin: auto;
}

.fe_ev hr {
    width: 30px;
}

.fe_bnr {
    position: absolute;
    right: 0px;
}

.fe_bnr img {
    height: 60px;
    width: 400px;
    margin: 30px;
}

.booking_panel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.bk_images {
    display: flex;
    flex-direction: column;
    width: 300px;
    width: 300px;
    border: 2px solid #eeeeee;
    margin: 6px;
}

.bk_images img {
    height: 150px;
    width: 300px;
    position: relative;
}

.bk_over {
    height: 150px;
    width: 300px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
}

.bk_over button {
    color: white;
    border: 1px solid white;
    padding: 7px 20px 7px 20px;
    background-color: transparent;
    margin: 59px 90px;
}

.bk_images:hover .bk_over {
    z-index: 1;
}

.bk_subtext {
    height: 70px;
    width: 300px;
    margin: 10px;
}

#ad {
    width: 302px;
    height: 232px;
    margin: 6px;
}

.vote_panel {
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.top_movies {
    width: 25%;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
    box-sizing: border-box;
	z-index:1;
}

#tm {
    color: #1a1a1a;
    font-size: 12px;
    display: block;
    font-weight: bold;
    padding-left: 100px;
}

#iyr {
    color: #999999;
    font-size: 11px;
    display: block;
    font-weight: bold;
    line-height: 4px;
	display:block;
	padding: 10px;
}

.mv_ratings {
	padding: 12px 10px;
	color: rgb(220, 15, 23);
	font-size: 20px;
	border-bottom: 1px dashed #bbbbbb;
}

.mv_ratings:last-child {
	border:none;
}

.percent {
	color: rgb(220, 15, 23);
	font-size: 14px;
	font-weight:bold;
	padding: 0px 10px;
}

.mv_name {
	color: black;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
}

.mv_name:hover {
	text-decoration:underline;
}

.now_coming {
    width: 75%;
    background-color: #eeeeee;
    display: flex;
	flex-direction:column;
    box-sizing: border-box;
}

.nc_1 {
	height:110px;
	display:flex;
	justify-content:space-between;
}

.tog_btn {
	margin-top: 20px;
	display:flex;
}

.tog_btn a{
	background-color:transparent;
	color:#aaaaaa;
	font-size: 12px;
	font-weight: bold;
	padding:15px 30px;
	border: 1px solid #999999;
	outline:none;
	text-decoration:none;
	height: 45px;
	box-sizing:border-box;
}

.tog_btn a:active {
	background-color:white;
	color:black;
}

.nc_1 text {
	color:gray;
	font-size:16px;
	font-weight:bold;
	padding:30px 100px 0px 0px;
}

.jfu {
	background-color:white;
	font-size:12px;	
	padding:8px 44px 8px 60px;
	overflow:hidden;
	transform:rotate(-45deg);
	height:15px;
	width:90px;
	margin-left:-60px;
	align-self:center;
	text-align:right;
}






















